/* style body element (position relative so scrollspy works) */
body {
    font-family: 'Vollkorn', sans-serif;
}
/* add font family to body element */

/* set video as background of page and set to fixed, z-index so it's behind */
video#bgVideo {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}
/* hide video and set pic for small devices (media queries) */

/* style nav bar */

/* style home section inside jumbotron */
#home {
    background: transparent;
    color: #fff;
    text-align: center;
    /* using percentage to be relative to element for better compatibility 
    * with difference device sizes */
    padding-top: 15%;
}

.container {
    max-width: 1000px;
}
/* reduce margin-bottom, style button and hover state */
#home h1 {
    margin-bottom: 30px;
}

#home h2 {
    margin-bottom: 50px;
}

#home .btn {
    background-color: rgb(29, 167, 179);
    color: #fff;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}

#home .btn:hover {
    background-color: rgba(29, 167, 179, 0.5);
}
/* style about section like company website */
#about {
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

#about h2 {
    font-weight: bold;
}

#about p {
    font-size: 17px;
    margin-bottom: 30px;
}

.aboutImage {
    height: 120px;
}

/* style promise section (padding top)  */
#promise {
    padding-top: 100px;
}

/* set carousel width to not take up full page */
#myCarousel {
    width: 60%;
    /* center the carousel with margin */
    margin: 0 auto;
}

.carousel-inner .item img {
    height: 400px;
    margin: 0 auto;
}

/* move captions to under pics */
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
}
/* style pics inside carousel for different devices */

/* style nav brand text */

/* finally, footer */

/* custom navbar style created using http://twitterbootstrap3navbars.w3masters.nl/ */
.navbar-custom {
  font-size: 18px;
  background-color: #1b3759;
  border-color: #132740;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#274f80), to(#1b3759));
  background-image: -webkit-linear-gradient(top, #274f80, 0%, #1b3759, 100%);
  background-image: -moz-linear-gradient(top, #274f80 0%, #1b3759 100%);
  background-image: linear-gradient(to bottom, #274f80 0%, #1b3759 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff274f80', endColorstr='#ff1b3759', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #fff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #132740;
}
.navbar-custom .navbar-nav > li > a {
  color: #c0c0c0;
  border-left: 1px solid #132740;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #132740;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#132740), to(#1f3f67));
  background-image: -webkit-linear-gradient(top, #132740, 0%, #1f3f67, 100%);
  background-image: -moz-linear-gradient(top, #132740 0%, #1f3f67 100%);
  background-image: linear-gradient(to bottom, #132740 0%, #1f3f67 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff132740', endColorstr='#ff1f3f67', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #13263e;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #132740;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #c0c0c0;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #132740;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #c0c0c0;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}
