#container {
    width: 1050px;
    /* border: 1px solid grey; */
    margin: 0 auto;
}

/*
 * Container div collapsed because header div collapsed.
 * All items inside the header div were floating elements, and
 * html elements that consist of only floating elements behave as if they 
 * don't have any elements in them at all. Added height to header to counteract. 
 */

#header {
    height: 100px;
    padding: 10px 0;
}

#brand {
    float:left;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color:#861BBF;
    text-decoration: none;
}

/* entire searchbox div floating right with a green background */
#searchbox {
    float: right;
    background: linear-gradient(#E4F2B9, #BAE95B);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    /* add space between search box and border of the header */
    margin-top: 20px;

}

/* text class for input of search box. */
.text {
    float:left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    /*
     * image created using logomakr.com 
     * http://www.flaticon.com/authors/freepik
     */
    background: white url(images/search.png) right center no-repeat;

}

/* submit class for submit button of search box */
.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    /* background-color property cannot be used for buttons */
    background: #A751D6;
    font-size: 15px;
}
.clear {
   clear: both;
}
#menu {
    height: 70px;
    background: linear-gradient( #F7F490 ,#D6D636);
    /* to add padding between list items and menu div */
    padding: 7px 0;
    
}

ul {
    list-style: none;
}

#menu ul li {
    /* get list to be horizontal by setting float to left */
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#menu ul li:last-child {
    border-right: none;
}
#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    /* to center the text in the divider bars, line height */
    line-height: 30px;
    
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color:#C765AD;
}

